@model company.BL.Model.ApplictionRolesVm

@{
    ViewBag.Title = "Delete Role";
    // var x = emplo.GetAll();
}

<div class="card">
    <div class="card-body">

        <br />
        <form class="" id="form_validation" asp-controller="Roles" asp-action="Delete" method="post">

            <div class="row g-3 mb-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="Id" id="Id" readonly placeholder="Id">
                        <label for="JobName">Id </label>
                    </div>
                    <span asp-validation-for="Id" class="text-danger "></span>

                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="Name" id="Name" readonly placeholder="Role Name">
                        <label for="Name"> Role Name </label>
                    </div>
                    <span asp-validation-for="Name" class="text-danger "></span>
                </div>
            </div>

            <button class="btn btn-primary waves-effect" type="submit">Delete</button>
            <a asp-controller="Roles" asp-action="index" class="btn btn-success">Back</a>
        </form>
    </div>
</div>
@section MicrosoftValidation{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@section PageTitle {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
        <li class="breadcrumb-item"> <a asp-controller="Roles" asp-action="index">Roles </a></li>
        <li class="breadcrumb-item"> <a>Delete Role </a></li>

    </ol>
}



