
@{
    Layout = "_Acount";
    ViewBag.Title = "Confirm Forget Password  Page";
}


<div class="card-body">
    <div class="pt-4 pb-2">
        <h5 class="card-title text-center pb-0 fs-4">Confirm Forget Password </h5>


    </div>

        <div class="col-12">
           

            <div class="msg">
                Password  reset link has been sent, please check your email inbox
            </div>

        </div>
        <div class="col-12 text-center">
            <a asp-controller="Account" asp-action="Login">Sign In!</a>
        </div>
</div>
