@model company.BL.Model.ForgetPasswordVM 
@{
    Layout = "_Acount";
    ViewBag.Title = "Forget Password Page";
}


<div class="card-body">
    <div class="pt-4 pb-2">
        <h5 class="card-title text-center pb-0 fs-4">Forget Password</h5>
        <p class="text-center small">Enter your Email</p>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    </div>

    <form class="row g-3 needs-validation" novalidate asp-controller="Account" asp-action="ForgetPassword" method="POST">
        <div class="col-12">
            <label for="yourUsername" class="form-label">Email</label>
            <div class="input-group has-validation">
                <input type="email" class="form-control" asp-for="Email" placeholder="" required autofocus>
                <div class="invalid-feedback">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>
        </div>




        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">RESET MY PASSWOR</button>
        </div>
      
        <div class="col-12 text-center">
            <a asp-controller="Account" asp-action="Login">Sign In!</a>
        </div>

    </form>


</div>




