@model company.BL.Model.loginVM 
@{
    Layout = "_Acount";
    ViewBag.Title = "Login Page";
}





                      
<div class="card-body">
    <div class="pt-4 pb-2">
        <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
        <p class="text-center small">Enter your username & password to login</p>
    </div>
   
    <form class="row g-3 needs-validation" novalidate asp-controller="Account" asp-action="Login" method="POST">
        <div class="col-12">
            <label for="yourUsername" class="form-label">Email</label>
            <div class="input-group has-validation">
                <input type="email" class="form-control" asp-for="Email" placeholder="" required autofocus>
                <div class="invalid-feedback">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>
        </div>
                        
        <div class="col-12">
            <label for="yourPassword" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="Password" required>
            <div class="invalid-feedback">
               
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
                   
        <div class="col-12">
            <div class="form-check">
                <input type="checkbox" asp-for="RememberMe" id="rememberme" class="form-check-input">
                <label class="form-check-label" for="rememberMe">Remember me</label>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">Login</button>
        </div>
        <div class="col-12">
            <p class="small mb-0">Don't have account? <a asp-action="Registration" asp-controller="Account">Register Now!</a></p>
        </div>
        <div class="col-12 text-center">
            <a asp-controller="Account" asp-action="ForgetPassword">Forgot Password?</a>
        </div>
                 
    </form>

               
</div>