@model company.BL.Model.BonusVM


@{
    ViewBag.Title = "Bonus Details";
    // var x = emplo.GetAll();
}
<div class="card">
    <div class="card-body">
        @*         <h5 class="card-title">Floating labels Form</h5>
        *@
        <br />



        <div class="row g-3 mb-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control readOnly" asp-for="bonusName" id="BonusName" placeholder="Bonus Name">
                    <label for="BonusName">Bonus Name </label>
                </div>
                <span asp-validation-for="bonusName" class="text-danger "></span>

            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="number" class="form-control readOnly" asp-for="bonusValue" id="BonusValue" placeholder="Bonus Value">
                    <label for="BonusValue">Bonus Value </label>
                </div>
                <span asp-validation-for="bonusValue" class="text-danger "></span>

            </div>

        </div>

        <button class="btn btn-primary waves-effect" type="submit">Delete</button>
        <a asp-controller="Bonuss" asp-action="index" class="btn btn-success">Back</a>




    </div>
</div>
@section MicrosoftValidation{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@section PageTitle {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
        <li class="breadcrumb-item"> <a asp-controller="Bonuss" asp-action="index">Bonuss </a></li>
        <li class="breadcrumb-item"> <a>Bonus Details  </a></li>

    </ol>
}


